<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/chat.css">
</head>
<body>
<div class="main-container">
    <div class="action-pane left-pane">left-pane</div>
    <div class="right-pane">
        <div id="messages" class="action-pane chat-body-area"></div>
        <div id="input-area" class="action-pane chat-input-area">
            <form id="message-form" class="is-flex" method="post">
                <label class="chat-label-element">
                    <input id="message" class="chat-input-element" type="text" name="message">
                </label>
            </form>
        </div>
    </div>
</div>
<script>
  const form = document.getElementById('message-form')
  const message = document.getElementById('message')
  const messages = document.getElementById('messages')
  form.addEventListener('submit', (event) => {
    event.preventDefault()
    let value = message.value
    fetch('/fetch/chat', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ content: value })
    })
  })
  const evtSource = new EventSource('/my-sse')
  evtSource.addEventListener('message', (event) => {
    let data = JSON.parse(event.data)
    let messageElement = document.createElement('p')
    let content = document.createTextNode(`${data.username}: ${data.content}`)
    messageElement.appendChild(content)
    messages.appendChild(messageElement)
    messages.scrollTop = messages.scrollHeight
    message.value = ''
    // element.scrollTop = element.scrollHeight - element.clientHeight
  })
</script>
</body>
</html>
